<article class="blogo-article">
  <%= render partial: 'blogo/posts/post_header', locals: {post: @post} %>

  <div class="content">
    <% if Blogo.config.use_markdown %>
        <%= markdown @post.html_content %>
    <% else %>
        <%= raw @post.html_content %>
    <% end %>
  </div>
</article>
