<section class="blogo-article article-overview">
  <%= render partial: 'blogo/posts/post_header', locals: {post: post} %>

  <div class="content">
    <% if Blogo.config.use_markdown %>
        <%= markdown post_overview(post) %>
    <% else %>
        <%= raw post_overview(post) %>
    <% end %>
  </div>

  <%= link_to t('blogo.user.read_post'), blogo_post_path(post), class: 'pure-button button-secondary' %>
</section>
