<div id="main">
  <% @_collection.each do |project| %>
    <%= render partial: 'project_overview', locals: {project: project} %>
  <% end %>
</div>
<!--<= render partial: 'blogo/shared/paginator' %>-->
