<div class="content">
  <% if Blogo.config.use_markdown %>
      <%= markdown (overview ? post_overview(post) : post_content(post)) %>
  <% else %>
      <%= raw (overview ? post_overview(post) : post_content(post)) %>
  <% end %>
</div>