/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 *= require_self
 *= require blogo/ckeditor/skins/moono/editor.css
 *= require highlight.min
 *= require lightbox.min
 *= require slick
 *= require slick-theme
 */

code.hljs {
    font-size: 11px;
}
.blogo-article {
    color: #444;
    text-align: justify;
    margin-bottom: 1.5em;
    font-size: 1em;
    line-height: 1.5em;
}
.blogo-article p {
    margin: 10px 0;
}
.blogo-article code {
    display: inline;
}
.blogo-article pre code {
    display: block !important;
}
.blogo-article .project {
    margin-bottom: 10px;
}
.blogo-article .project .content{
    padding-left: 10px;
}
.blogo-article p:first-child{
    margin-top: 0;
}

.pure-menu ul {
    visibility: visible;
    left: 0;
    top: 0;
}

.slick-slide {
    padding: 10px;
}

.slick-slide img {
    height: 200px;
    width: auto;
}
.article-overview .project img{
    margin-bottom: 5px;
}