<ul class="markdown-cheatsheet">
  <li># H1 - ###### H6 - Headers</li>
  <li>*asterisks* or _underscores_ - <em>italics</em></li>
  <li>**asterisks** or __underscores__ - <strong>strong</strong></li>
  <li>~~Scratch this.~~ - <del>strikethrough</del></li>
  <hr/>
  <li>
    1. First ordered list item <br/>
    2. Another item <br/>
    ⋅⋅* Unordered sub-list. <br/>
    1. Actual numbers don't matter, just that it's a number <br/>
    ⋅⋅1. Ordered sub-list <br/>
    4. And another item.
  </li>
  <hr/>
  <li>
    ⋅⋅⋅Indented paragraphs - three spaces<br/>
    Line break without a paragraph⋅⋅ - two spaces
  </li>
  <li>
    * Unordered list can use asterisks<br/>
    - Or minuses<br/>
    + Or pluses
  </li>
  <hr/>
  <li>
    [Inline-style link with title](https://www.google.com "Google's Homepage")
  </li>
  <li>
    [Reference style link][1]<br/>
    [1]: https://www.google.com
  </li>
  <li>
    ![alt text](https://www.google.com/logo.png "Logo Title Text 1") - image
  </li>
  <hr/>
  <li>
    `Inline code`
  </li>
  <li>
    ```javascript<br/>
    console.log('Multiline code');<br/>
    ```
  </li>
  <hr/>
  <li>
    > Inline<br/>
    > blockquotes.
  </li>
  <li>
    hr: --- or *** or ___
  </li>
  <hr/>
  <li>
    Table:<br/>
    header row, column 1 | header row, column 2 | header row, column 3<br/>
    --- | --- | ---<br/>
    row 1, column 1 | row 1, column 2 | row 1, column 3<br/>
    row 2, column 1 | row 2, column 2 | row 2, column 3
  </li>
</ul>